server:
  port: 8081

spring:
  application:
    name: market-data-service
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

finnhub:
  token: ${FINNHUB_TOKEN}
  api-url: https://finnhub.io/api/v1/quote?symbol=
  symbols: AAPL,GOOGL,AMZN,TSLA,MSFT
