server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods: "*"
            allowedHeaders: "*"
      routes:
        - id: market-data-service
          uri: lb://MARKET-DATA-SERVICE
          predicates:
            - Path=/api/market/**
        
        - id: market-ws
          uri: lb://MARKET-DATA-SERVICE
          predicates:
            - Path=/ws/**
          filters:
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_FIRST

        - id: discovery-server
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/web
          filters:
            - SetPath=/

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
